version: '3.9'

services:
    postgres:
        image: postgres:15
        container_name: finance-app-postgres
        environment:
            POSTGRES_USER: root
            POSTGRES_PASSWORD: password
            POSTGRES_DB: financeapp
        ports:
            - '5432:5432'
        volumes:
            - ./postgres-data:/var/lib/postgresql/data
        restart: unless-stopped
